<div class="lineactivate" style="overflow:hidden;" id="book_<%=source.id%>">
  <div class="source_title"><%=link_to source.title, source_path(source.id)%></div>
  <div class="source_author"><%=source.author%></div>
  <div class="source_rating">
    <img src="/images/star_rate.png" /><img src="/images/star_rate.png" /><img src="/images/star_rate.png" />
  </div>
  <div class="source_delete" style="height:23px; width:40px; padding-top:5px; padding-left:15px; float:left;">
    <%=link_to_remote image_tag('/images/close_table.png', :title=>"Delete"), 
              :url=>source_path(source), :method=>"delete", :confirm=>"Are you sure ?"%>
  </div>
</div>