<ul class="social_media">
	<li><a href="#"><img src="/images/social_media_one.png" /></a></li>
	<li><a href="#"><img src="/images/social_media_two.png" /></a></li>
	<li><a href="#"><img src="/images/social_media_three.png" /></a></li>
</ul>
<span class="copy">
    © Copyright 2011 - Serving4eight. All Rights Reserved<br />
    <a id="mailto" href="mailto:cook@serving4eight.com">cook@serving4eight.com</a>
</span>