<div class="menu_global" style="background:url(/images/my_k_2.png) no-repeat; position:absolute; padding-top:99px; padding-left:120px; width:192px; height:397px; margin:-4px 0 0 -88px;">
<div class="cook_menu" style="margin-bottom:12px;"><a href="#"><img src="/images/cook_menu.png" /></a></div>
<div class="family_menu" style="margin-bottom:15px;"><a href="#"><img src="/images/family_menu.png" /></a></div>
<div class="shelves_menu" style="margin-bottom:18px;"><a href="#"><img src="/images/shelves_menu.png" /></a></div>
<div class="my_menus_link" style="margin-bottom:23px;"><a href="#"><img src="/images/my_menus.png" /></a></div>