<div id="important_links" style="float:right; margin:34px 30px 0 0;">
  <div class="login_area" style="margin-bottom:10px; height:27px; float:right; overflow:hidden;"> 
    <span class="welcome">
      <span style="font-size:20px;">Hi,</span> 
      <span class="name"><%=current_user.login%></span>
    </span> 
  </div>
  <div style="margin-bottom:10px; padding-left:80px;"> 
    <span class="log_out"><%=link_to "Logout", "/logout"%></span>
  </div>
  <div style="margin-top:80px;" class="linkstop">
    <ul>
      <li class="li_header" style="float:left; margin-right:10px;">
        <a href="#"><img src="/images/user_voice_internal_icon.png"></a></li>
      <li class="li_header" style="float:left;"><a href="#"><img src="/images/search_icon.png"></a></li>
    </ul>
  </div>
</div>