<div class="spaceonleft" style="height:162px;"></div>
<div class="createmenu_btn" style="margin:0 0 15px 20px;"><a href="#"><img src="/images/create_new_menu_btn.png" /></a></div>
<div class="editmenu" style="margin:0 0 18px 20px;"><a href="#"><img src="/images/edit_my_menu_btn.png" /></a></div>
<div class="line_under_menu" style="height:1px; background:url(/images/line_divider.png) center top no-repeat;"></div>
<div class="mymenu_title" style="margin:18px 0 14px 24px;"><img src="/images/mymenus_title.png" /></div>
<!-- category 1 -->
<div class="list_mymenu_2lines" style="height:59px; width:220px; background:#efece0; border:1px solid #dad3a3; margin-left:-1px; -moz-border-radius:0 11px 11px 0 ; border-radius:0 11px 11px 0 ; -webkit-border-radius:0 11px 11px 0 ; ">
  <div class="spacer_adjustment" style="height:9px;"></div>
  <div class="btns_in_left" style="float:left; margin-left:14px; width:84px;">
    <div class="btns_left" style="width:21px; height:20px; float:left; margin-right:5px;"><a href="#"><img src="/images/shopping_small.png" /></a></div>
    <div class="btns_left" style="width:21px; height:20px; float:left; margin-right:5px;"><a href="#"><img src="/images/mail_small.png" /></a></div>
    <div class="btns_left" style="width:21px; height:20px; float:left;"><a href="#"><img src="/images/print_small.png" /></a></div>
  </div>
  <div class="text_category" style="font-size:20px; padding-top:1px; float:right; line-height:20px; width:106px; color:#b68228; margin-right:13px;">Christmas Eve Loren</div>
</div>
<!-- category 2 -->
<div class="list_mymenu_1line" style="height:39px; width:220px; margin-left:-1px; ">
  <div class="spacer_adjustment" style="height:9px;"></div>
  <div class="btns_in_left" style="float:left; margin-left:14px; width:84px;">
    <div class="btns_left" style="width:21px; height:20px; float:left; margin-right:5px;"><a href="#"><img src="/images/shopping_small.png" /></a></div>
    <div class="btns_left" style="width:21px; height:20px; float:left; margin-right:5px;"><a href="#"><img src="/images/mail_small.png" /></a></div>
    <div class="btns_left" style="width:21px; height:20px; float:left;"><a href="#"><img src="/images/print_small.png" /></a></div>
  </div>
  <div class="text_category" style="font-size:20px; padding-top:1px; float:right; line-height:20px; width:106px; color:#b68228; margin-right:13px;">Snacks</div>
</div>