<form action="#" method="get" enctype="application/x-www-form-urlencoded" name="search_content">
  <div class="search_box" style="padding-top:82px; padding-right:30px; float:right;">
    <div class="btn_search_box" style="width:29px; height:30px; float:left;">
      <input name="result" type="submit" value="Pesquisar" style="background: url(/images/btn_search_box.png) no-repeat transparent; border:none; cursor:pointer; width:29px; height:30px; text-indent:-9999px;" />
    </div>
    <div class="bg_search_box" style="background:url(/images/bg_search_box.png) no-repeat; float:left; width:198px; height:30px;">
      <input name="search_text" type="text" onclick="doClear(this)" value="Search in Books" style="width:178px; height:24px; background:transparent; border:none; padding-left:5px; padding-top:4px; color:#f3ab82; font-size:18px;" />
    </div>
  </div>
</form>