<div class="wrap_976_2" style="margin:0 auto; width:976px; height:88px;">
  <div class="social">
    <ul class="social_media">
      <li class="fb_icon" style="float:left; margin-right:10px;"><a href="#">
        <img src="/images/facebook_icon.png"></a>
      </li>
      <li class="tw_icon" style="float:left; margin-right:10px;"><a href="#">
        <img src="/images/social_media_two.png"></a>
      </li>
      <li class="plus_icon" style="float:left; margin-right:10px;"><a href="#">
        <img src="/images/social_media_three.png"></a>
      </li>
    </ul>
  </div>
  
  <div class="copyright_all" style="float:right; margin:40px 27px 0 0;">
    <div class="" style="text-align:right; color:#fff; font-size:13px;">
      © Copyright 2011 - Serving4eight. All Rights Reserved
    </div>
    <div class="" style="text-align:right; color:#E9B459; font-size:13px;">
      <a style="color:#E9B459;" href="mailto:cook@serving4eight.com">cook@serving4eight.com</a>
    </div>
  </div>
  
</div>