<div class="submenu_global" style="background:url(/images/line_fade.png) center bottom no-repeat; position:absolute; width:592px; height:30px; padding-bottom:1px; margin:40px 0 0 368px;">
  <div class="space_submenu" style="float:left; width:122px; height:100%;"></div>
  <div class="submenu_books" style="float:left; margin-right:11px;">
    <%=link_to image_tag('/images/sub_btn_books.png'), books_path%>
  </div>
  <div class="submenu_magazines" style="float:left; margin-right:11px;">
    <%=link_to image_tag('/images/sub_btn_magazines.png'), magazines_path%>
  </div>
  <div class="submenu_websites" style="float:left; margin-right:11px;">
    <%=link_to image_tag('/images/sub_btn_website.png'), websites_blogs_path%>
  </div>
  <div class="submenu_recipes" style="float:left;">
    <%=link_to image_tag('/images/sub_btn_recipe.png'), recipes_path%>
  </div>
</div>
<div class="space_btn_displayed" style="margin-left: 235px; margin-bottom:-26px;"><img src="/images/space_btn.png" /></div>