/*----- Css Reset Begin -----*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
body{
	line-height:1;
}
ol, ul{
	list-style:none;
}
a{
	text-decoration:none;
}
img{
	border:none;	
}
blockquote, q{
	quotes:none;
}v
blockquote:before, blockquote:after,
q:before, q:after{
	content:'';
	content:none;
}
/* remember to define focus styles! */
:focus{
	outline:;
}
/* remember to highlight inserts somehow! */
ins{
	text-decoration:none;
}
del{
	text-decoration:line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
/*table{
	border-collapse:collapse;
	border-spacing:0;
}*/
/*----- Css Reset End -----*/

body{
	background-color:#290400;
	font-family:"Futura";
	font-size:11px;
	line-height:15px;
/*	height:768px;*/
	overflow-x:hidden;
}
#bg_home{
	background:url(/images/bg_home.jpg) no-repeat center top transparent;
	color:#fff;
	height:600px;
	position:absolute;
	top:50%;
	margin-top:-300px;
	width:100%;
}
#all{
	width:1000px;
	margin:0 auto;
	text-align:center;
	color:#e9b459;
	line-height:25px;
}
#header{
	text-align:left;
	float:left;
	width:1000px;
}
#header #logo{
	display:block;
	float:left;	
}
#header #top_text{
	margin-top:78px;
}
#header #logo img{
	margin-top:25px;
}
#header .voice{
    display:block;
    height:39px;
    margin-left:951px;
    margin-top:-89px;
    width:39px;
}
#middle_content{
    float:left;
    margin-left:35px;
    margin-top:35px;
    text-align:left;
    width:965px;
}
.left_content{
    float:left;
    width:390px;
	font-size:17px;
}
.right_content{
    margin-left:615px;
    *margin-left:225px;
    margin-top:-115px;
    position:absolute;
    width:340px;
}
.home form #user_session_submit{
	margin-left:44px !important;
}
.home form #user_session_submit,
.home form #new_user_session,
.home form span{
	margin:23px 3px 0;
}
.special_font{
	font-weight:bolder;
}
.special_font .title{
	color:#e9c259;
	font-size:28px;
	margin-bottom:8px;
	display:block;
}

#user_session_login,
#user_session_password{
    background-color:#461B0B;
    border:1px solid #8B6110;
    color:#A96426;
    font-size:20px;
    margin:0 0 10px 23px;
    padding:5px;
    width:280px;
}
#facebook_login,
#user_session_submit,
#but_register{
	background:url(/images/but_facebook_login.png) no-repeat;
	border:none;
	width:121px;
	height:31px;
	cursor:pointer;
}
#facebook_login:hover{
	background:url(/images/but_facebook_login_hover.png) no-repeat;
}
#user_session_submit{
	background:url(/images/but_login.png) no-repeat;
}
#user_session_submit:hover{
	background:url(/images/but_login_hover.png) no-repeat;
}
#but_register{
	background:url(/images/but_register.png) no-repeat;
	width:144px;
  margin-left:170px;
  *margin-left:-45px;
  margin-top:170px;
}
#but_register:hover{
	background:url(/images/but_register_hover.png) no-repeat;	
}
.home #middle_content .left_content .top,
.home #middle_content .left_content .bottom{
	margin:10px 0;	
}
#footer{
	width:1000px;
	height:98px;
	clear:both;
	float:left;
	text-align:left;
	margin-top:105px;
	*margin-top:55px;
}
#footer .social_media{
    float:left;
    margin-left:37px;
    margin-top:10px;
}
#footer .social_media li{
	float:left;
	margin-right:11px;
}
#footer .social_media li a{
	display:block;
}
#footer .social_media li a img:hover{
	margin-top:-2px;
}
#footer .copy{
    display:block;
    float:right;
    font-family:arial;
    line-height:15px;
    margin-right:25px;
    margin-top:32px;
    text-align:right;	
}
#footer #mailto{
	color:#E9B459;	
}
#footer #mailto:hover{
	font-weight:bold;
	text-decoration:underline;
}