<% form_for(@user, :remote => true) do |f| %>
  <table cellpadding="0" cellspacing="10" border="0" width="100%">
    <tr>
      <td colspan="2" id="errors"></td>
    </tr>
    <%= render :partial => "form", :object => f %>
    <tr>
      <td></td>
      <td><%= f.submit "Submit" %></td>
    </tr>
  </table>
<% end %>
